<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <%= note.title%>
                </li>
            </ol>
        </nav>
        <div class="col d-flex justify-content-between align-item-center p-5" data-bs-toogle="modal" id="deleteButton" data-bs-target="#exampleModal">
            <h1 class="h3">View notes</h1>
            <form action="/note/<%=note._id%>?_method=DELETE" method="post"><button type="submit" class="btn btn-primary" data-toggle="modal" data-bs-target="#exampleModal">
           Delete
          </button></form>
          
        </div>
    </div>
    <section class="container" >
        <form action="/dashboard/item/<%=note._id%>" method='POST' style="width: 75%; margin-inline: 0; margin-block: 1rem; box-shadow: none; border-radius: 0.4rem; display: flex; justify-content: flex-start; flex-direction:column; width: 900px;">
          <div class="input-box">
            <input type="text" name="name" required style="border-color: none; border: 0; width: 100%;" value="<%= note.title%>"/>
            <input type="text" style="display: none;" name="id" value="<%= note._id%>" >
          </div>
          <textarea  name="body" id="textarea" cols="30" rows="10" style="border-color: none; border: 0; padding-block: 2rem; box-sizing: border-box;"><%= note.body%></textarea>
         
          <button type="submit">Update</button>
        </form>
      </section>
</section>
</div>



  